@import "_variables";

.page-content {
    margin-top: 64px;
    margin-bottom: 64px;
    padding: $spacing-unit 0;
}

.page-content-wrapper {
    padding-left: 64px;
    padding-right: 64px;
}

.page-heading {
    font-size: 20px;
}
