<!DOCTYPE html>
{% if page.excerpt %}
{% assign description = page.excerpt | strip_html | strip_newlines | truncate: 160 %}
{% else %}
{% assign description = site.description %}
{% endif %}

{% assign main_url = "/index.html" | relative_url %}
<html lang="{{page.lang}}">
<head>
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ description }}">
    <link rel="stylesheet" href="/css/main.css">
    <script type="text/javascript" src="/js/categorizer.js"></script>
    <script type="text/javascript" src="/js/paginator.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="/feed.xml">
</head>
<body>
<div class="grid-container">
    <div class="title">
        <a class="site-title" href="{{ main_url }}">
            <img src="/favicon.ico" alt="Proper Code"/>
            {{ site.title }}
        </a>
    </div>
    <div class="nav">
        <nav class="site-nav">
            <p class="pages">Pages</p>
            <ul class="pages">
                {% assign pages = site.pages | where_exp: "p", "p.ref != 'index'" %}
                {% for p in pages %}
                <li>
                    <a class="page-link" href="{{ p.url | prepend: site.baseurl }}">{{ p.title }}</a>
                </li>
                {% endfor %}
            </ul>
            <p class="pages">Posts by category</p>
            <ul class="pages">
                {% assign categories = site.posts | group_by: "categories" | sort: "name" %}
                {% for category in categories %}
                {% assign name = category.name | strip | remove: '"' | remove: "[" | remove: "]" %}
                <li>
                    <a class="page-link" href="{{ main_url | append: "?category=" | append: name }}">
                        {{ name }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </nav>
    </div>
    <div class="content">
        <div class="content-max">
            {{ content }}
        </div>
    </div>
    <div class="contacts">
        <ul>
            <li>Sébastien Lavoie-Courchesne</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
            {% if site.github_username %}
            <li>
                <a href="https://github.com/{{ site.github_username }}">
                    <span class="icon">{% include icon-github.svg %}</span>
                    <span>{{ site.github_username }}</span>
                </a>
            </li>
            {% endif %}
            {% if site.twitter_username %}
            <li>
                <a href="https://twitter.com/{{ site.twitter_username }}">
                    <span class="icon">{% include icon-twitter.svg %}</span>
                    <span>{{ site.twitter_username }}</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </div>
    <div class="rss-feed">
        {% if page.lang == "en" %}
        <a href="/feed.xml">Subscribe via RSS</a>
        {% else %}
        <a href="/feed.xml">Souscrire via RSS</a>
        {% endif %}
    </div>
</div>
</body>
</html>
